.mainResult {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 80px;
}
.negativeResult {
  background-color: red;
  color: white;
}
.positiveResult {
  background-color: green;
  color: white;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

body,
main {
  padding: 16px;
}