main {
  border: solid 1px;
  margin: 8px;
  padding: 8px;
  background-color: cadetblue;
  height: 8000px;
  width: 8000px;
}
div {
  margin: 4px;
  background-color: rebeccapurple;
  width: fit-content;
  border: 1px solid black;
  padding: 8px;
}
.relative {
  position: relative;
  top: 0px;
  left: 0px;
}
.fixed {
  position: fixed;
  top: 0px;
  right: 0px;
}
.absolute {
  position: absolute;
  top: 0px;
  left: 250px;
}
.sticky {
    position: sticky;
    top: 16px;
    left: 16px
}