.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

#dev-holder {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

body {
  padding: 16px;
}

span {
  padding: 2px;
}

.border {
  border: 1px solid black;
  border-radius: 5px;
}
